@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom right, #8929ad, #436aac, #43b7b8);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 960px;
}

.image-container {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: solid 5px #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}
